{% extends 'base.html' %}

{% block content %}
<h3>
    Your challenges
</h3>

    {% for challenge in challenges %}

    <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title"> <a href="/challenges/{{ challenge.id }}" >{{ challenge.target_name }}</a></h5>
          <p class="card-text"> {{ challenge.description }}</p>
        </div>
      </div>
    {% endfor %}


<h3>
    Public challenges
</h3>

    {% for challenge in public_challenges %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> <a href="/challenges/{{ challenge.id }}" >{{ challenge.target_name }}</a></h5>
          <p class="card-text"> {{ challenge.description }}</p>
          <a href="/challenges/{{ challenge.id }}/join" class="btn btn-primary">Join</a>
        </div>
      </div>
    {% endfor %}

{% endblock %}