{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}


{% block extra_head %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        jQuery.get('{% url "line_chart_json" %}', function(data) {
            var ctx = $("#distanceChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'line', data: data
            });
        });
    })
</script>


{% endblock %}

{% block content %}
<div class="details">
    <div class="title" fxFlex>
        <h2>
            Aiming for {{ challenge.target_name }}
        </h2>

        <p>
            {{ challenge.description }}
        </p>

        {% if is_owner %}
        <a href="/challenges/{{ challenge.id }}/refresh" class="btn btn-primary">Refresh</a>
        {% endif %}
    </div>
    <dl class="row">
        <dt class="col-sm-3">Start date</dt>
        <dd class="col-sm-9">{{challenge.start_date }}</dd>
        <dt class="col-sm-3">Target Distance</dt>
        <dd class="col-sm-9">{{challenge.target_distance }} Km</dd>

        <dt class="col-sm-3">Currently</dt>
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">Travelled distance</dt>
                <dd class="col-sm-8">{{challenge.distance }} m</dd>
                <dt class="col-sm-4">Velocity</dt>
                <dd class="col-sm-8">{{challenge.velocity }} m/s</dd>
                <dt class="col-sm-4">ETA</dt>
                <dd class="col-sm-8">{{challenge.eta }}</dd>
            </dl>
        </dd>

    </dl>
</div>

{% if is_member %}

<div class="graph">

    <canvas id="distanceChart" width="500" height="100"></canvas>

</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="activities-tab" data-bs-toggle="tab" data-bs-target="#activities" type="button" role="tab" aria-controls="activities" aria-selected="true">Activities</button>
    </li>
    <li class="nav-item" role="members">
      <button class="nav-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="false">Members</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="activities" role="tabpanel" aria-labelledby="home-tab">
        {% render_table table %}
    </div>
    <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">

        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Joined in</th>
                    <th>Actions</th>
                </tr>
            </thead>
        {% for membership in challenge.memberships.all %}
            <tr>
                <td>{{ membership.member.get_full_name }}</td>
                <td>{{ membership.created }}</td>
                <td>
                    {% if is_owner %}
                        <a href="/challenges/{{ challenge.id }}/refresh_membership/{{ membership.id }}" class="btn btn-primary">Refresh User</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

    </div>
  </div>


{% else %}
<a href="/challenges/{{ challenge.id }}/join" class="btn btn-primary">Join</a>

{% endif %}

{% endblock %}
